<html>
  <head>
    <title>Upload</title>
    {{ dropzone.load() }} {{ dropzone.style('border: 2px dashed #0087F7;
    margin:10%; min-height: 400px;') }}
  </head>
  <body>
    <h1>Upload Images Below!</h1>
    {{ dropzone.create(action_view='index') }}
  </body>
</html>
